/.gradle/
.idea
/.metadata/.*
.metadata/.log
.settings
.class
.bin
.output
/publicWorkflow/output/
/dataModule/dataObject/output/
/publicWorkflow/.bin
/publicWorkflow/.settings
/publicService/.bin
/publicService/.settings


